@{
    ViewData["Title"] = "Задачи - UI elements";
}

@section PageScripts {
<script src="~/js/ui-modals.js"></script>
}
@* ************** Content ************** *@

<partial name="/Views/Shared/Sections/Modals/TaskModal.cshtml" />

<h4 class="py-3 mb-4">
  <span class="text-muted fw-light">Бэклог /</span> Задачи
</h4>

<div class="mt-3">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCenter">
        Создать
    </button>

    <!-- Modal -->
</div>
