@{
    Layout = "_BlankLayout";
    ViewData["Title"] = "Регистрация";
}



@section PageStyles {

    <link rel="stylesheet" href="~/vendor/css/pages/page-auth.css">

}


@* ************** Content ************** *@

@model BugTrackerV1.Models.ViewModel.RegistViewModel;

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">

            <!-- Register Card -->
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->
@*                     <div class="app-brand justify-content-center">
                        <a href="/" class="app-brand-link gap-2">
                            <span class="app-brand-logo demo">@await Html.PartialAsync("../_Partials/_Macros")</span>
                            <span class="app-brand-text demo text-body fw-bold">@TempData.Peek("appName")</span>
                        </a>
                    </div> *@
                    <!-- /Logo -->
                    <h4 class="mb-2">Регистрация 🚀</h4>
                    <p class="mb-4">Именно здесь начинаются ваши приключения.</p>

                    <form class="mb-3" asp-action="Registration" asp-controller="Authentications" method="POST">
                        <div class="mb-3">
                            <label asp-for="LastName" class="form-label">Фамилия</label>
                            <input type="text" class="form-control" asp-for="LastName" placeholder="Введите свою фамилию">
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="FirstName" class="form-label">Имя</label>
                            <input type="text" class="form-control" asp-for="FirstName" placeholder="Введите своё имя">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Patronymic" class="form-label">Отчество</label>
                            <input type="text" class="form-control" asp-for="Patronymic" placeholder="Введите своё отчество">
                            <span asp-validation-for="Patronymic" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Email" class="form-label">Email</label>
                            <input type="text" class="form-control" asp-for="Email" placeholder="Введите свой адрес электронной почты">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-password-toggle">
                            <label class="form-label" asp-for="Password">Пароль</label>
                            <div class="input-group input-group-merge">
                                <input type="password" class="form-control" asp-for="Password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="terms-conditions" >
                                <label class="form-check-label">
                                    Я согласен с
                                    <a href="https://github.com/DinarShigapov/BugTrackerV1">политика и условия конфиденциальности</a>
                                </label>
                            </div>
                        </div>
                        <button class="btn btn-primary d-grid w-100">
                           Войти
                        </button>
                    </form>

                    <p class="text-center">
                        <span>У вас уже есть учетная запись?</span>
                        <a href="/Authentications/Authorization">
                            <span>Войти в систему</span>
                        </a>
                    </p>
                </div>
            </div>
            <!-- Register Card -->
        </div>
    </div>
</div>


